<div class="container-fluid row text-center d-flex justify-content-center">
  <div class="col-lg-6 my-4">
    <h1>User Profile</h1>
    <div class="row my-3">
      <div class="col-6">Name</div>
      <div class="col-6">{{ user.name }}</div>
    </div>
    <div class="row my-3">
      <div class="col-6">Username</div>
      <div class="col-6">{{ user.username }}</div>
    </div>
    <div class="row my-3">
      <div class="col-6">Email</div>
      <div class="col-6">{{ user.email }}</div>
    </div>
  </div>
</div>
